/* * {
  background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
} */


footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(100, 37, 98);
  color: white;
}

.nav {
  background-color: transparent;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.nav :hover {
  background-color: pink;
  color: black;
}

.nav button {
  background-color:white ;
  margin: 20px;
  border: 5px;
  border-color: red;
  border-style: double;
}

.cards{
  display:flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.details {
  padding: 2px 16px;
}
img {
  border-radius: 5px 5px 0 0;
  padding: 5px;
  
}
image_box{
  width:100%;
  border-radius: 5px 5px 0 0;
}


.back{
  background-color: lightpink;
  margin-right: 25px;
  display: flex;
  color: white;
  border-radius: 0px;
  border: none;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
  justify-content:flex-end;
  flex-direction: column;
}

.back:hover{
  background-color: rgb(4, 139, 192);
}

.signup{
  background-color: blueviolet;
}

.login{
  background-color: aqua;
}

.head{
  text-align: center;
}
.heading{
  text-align: center;
  cursor: pointer;
}

.basehead{
  text-align: center;
}

.app{
  background-color: lightgray;
}