/* * {
  background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
} */


footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(100, 37, 98);
  color: white;
}

.nav {
  background-color: #130d12;
  overflow: hidden;
}
.nav a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}