.home {
  background-image: url("https://img.freepik.com/free-photo/fresh-colourful-ingredients-mexican-cuisine_23-2148254294.jpg?size=626&ext=jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
opacity: 0.9;
}


footer {
  text-align: center;
  padding: 3px;
  background-color: #ff4081;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.nav {
  background-color:lightgrey;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}


.nav :hover {
  background-color: #f48fb1;
  color: black;
  border-color: red;
}

.strong{
  color: yellow;
}

.nav button {
  background-color:white ;
  margin: 20px;
  border: 2px;
  border-color: pink;
  border-style:solid;
}

.cards{
  display:flex;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width:98%;
}

.cards:hover {
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.3);
}


.details {
  padding: 2px 16px;
}
.img {
  border-radius: 5px 5px 0 0;
  padding: 5px;
}
.image_box{
  width:350px;
  height:390px;
  border-radius: 5px 5px 0 0;
}


.back{
  display:inline;
  margin: 20px;
  float:right;
  width: 15 px;
  height: 10 px;
  background-color:white ;
  border: 4px;
  border-color: blue;
  border-style:solid;
}

.back:hover{
  background-color: #f48fb1;
  color: black;
  border-color: red;
}

.signup{
  background-color: #fce4ec;
  height: 100vh;
  width: 100vw;
}

/* .signbtn{
  float:inline-end
} */

.login{
  background-color: #fce4ec;
  height: 100vh;
  width: 100vw;
}
.about{
  background-color: #fce4ec;
}

.head{
  justify-content: center;
  align-items: center;
  color:darkblue;
  cursor: pointer;
  font-size:x-large;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.heading{
  text-align: center;
  cursor: pointer;
}

.basehead{
  text-align: center;
}


.home{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  width: 100vw;
  
}

.add{
  height: 100vh;
  width: 100vw;
}

.allrecipes{
  height: 100vh;
  width: 100vw;
}

.myrecipes{
  height: 100vh;
  width: 100vw;
}

.editrecipes{
  height: 100vh;
  width: 100vw;
}

.all{
  display:inline;
  margin: 20px;
  float:right;
  width: 15 px;
  height: 10 px;
  background-color:white ;
  border: 4px;
  border-color: blue;
  color: black;
  border-style:solid;
}

.allback{
  display:inline;
  margin: 20px;
  float:right;
  color: black;
  width: 15 px;
  height: 10 px;
  background-color:white ;
  border: 4px;
  border-color: blue;
  border-style:solid;
}

.all:hover{
  background-color: #f48fb1;
  color: black;
  border-color: red;
}

.allback:hover{
  background-color: #f48fb1;
  color: black;
  border-color: red;
}

.homehead{
  text-align: center;
}

.menu{
  max-width: 500px;
  margin: auto;
}

.recipetitle{
  color: darkblue;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
}
.recipetitle:hover{
  color: red;
  font-weight: bolder;
  font-family:cursive;
  cursor: pointer;
}