.about{
    background-color: #fce4ec;
  }
  
  .head{
    justify-content: center;
    align-items: center;
    color:darkblue;
    cursor: pointer;
    font-size:x-large;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif
  }