.cards{
    
    border-radius: 5px;
    padding: 5px 85px;
  }
  
  .cards:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
  }
 
  .recipetitle{
    color: darkblue;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
  }

  .recipetitle:hover{
    color: red;
    font-weight: bolder;
    font-family:cursive;
    cursor: pointer;
  }
  

  