footer {
    text-align: center;
    padding: 3px;
    background-color: #ff5722;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .strong{
    color: yellow;
  }