.menu{
    max-width: 500px;
    /* margin: auto; */
    place-items: center;
    min-width: 320px;
    
  }

  .allback1{
    display:inline;
    margin: 10px;
    float:right;
    color: black;
    width: 15 px;
    height: 10 px;
    background-color:white ;
    border: 4px;
    border-color: blue;
    border-style:solid;
  }
  
  
  
  .allback1:hover{
    background-color: #f48fb1;
    color: black;
    border-color: red;
  }
  
  