.nav :hover {
    background-color: #ff7043;
    color: black;
    border-color: blue;
  }

  .nav button {
    background-color:white ;
    margin: 20px;
    border: 2px;
    border-color: orange;
    border-style:solid;
  }